@mixin setSection() {
  @include flexbox(center);
  min-height: 100vh;
  // padding-top: 10vh;
  text-align: justify;
  background-color: $sectionColor;
  .headline {
    padding: 2rem 0 1rem;
  }
  h1 {
    color: $titleColor;
    font-size: 3rem;
    text-align: center;
  }
}

@mixin flexbox($justify-content) {
  display: flex;
  justify-content: $justify-content;
  align-items: center;
}

// @mixin flexbox($justify-content: flex-start,$align-items: stretch, $flex-direction: row) {
//   display: flex;
//   justify-content: $justify-content;
//   align-items: $align-items;
//   flex-direction: $flex-direction;
// }