$navColor: #09235f;
$titleColor: #2C9DCA; //#E3065A
// $navColor: #252542;
$navColor: #05112A;
$sectionColor: #121E36; // #EBEEF3,#F6F5F1
$cardColor: #383838;
$textColor: white;


// $sectionColor: white; // #EBEEF3,#F6F5F1