@import "reset";
@import "variables";
@import "mixins";

/* ==============
    Navbar Style
   ============== */

nav {
  @include flexbox(space-between,center);
  @include size(100%,10vh);
  z-index: 100;
  background-color: $navColor;
  color: $textColor;
  position: fixed;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2);
  h1 {
    @include flexbox(null,center);
    padding-left: 2rem;
    height: 100%;
  }
  ul {
    @include flexbox(space-around,center);
    @include size(70%,10vh);
    background-color: $navColor;
    top: 0;
    left: 0;
    list-style: none;
    font-size: 1rem;
    li {
      overflow: hidden;
      height: 25px;
      a {
        color: $textColor;
        text-decoration: none;
        position: relative;
        &::after{
          content: "";
          @include size(100%,100%);
          position: absolute;
          border-bottom: 2px solid $titleColor;
          top: 0;
          left: 0;
          transform: translateX(-100%);
          transition: transform 0.5s ease;
        }
      }
    }
  }
}

.burger {
  display: none;
  margin-right: 2rem;
  cursor: pointer;
  div {
    @include size(25px,3px);
    background-color: rgb(226, 226, 226);
    margin: 5px;
    transition: all 0.3s ease;
  }
}

@media screen and (max-width:768px) {
  body {
    overflow-x: hidden;
  }
  .nav-links {
    @include flexbox(space-around,center,column);
    @include size(200px,90vh);
    background-color: $navColor;
    position: absolute;
    left: 100%;
    top: 10vh;
    transform: translateX(0%);
    transition: transform 0.5s ease-in;
    li {
      opacity: 0;
    }
  }
  .burger {
    display: block;
  }
}

.nav-active {
  transform: translateX(-100%);
}

@keyframes navLinkFade {
  from {
    opacity: 0;
    transform: translateX(50px)
  }
  to {
    opacity: 1;
    transform: translateX(0px)
  }
}

.toggle {
  .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .line2 {
    opacity: 0;
  }
  .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
  }
}

/* ===============
    Section Style
   =============== */

#home  {
  @include setSection();
  @include flexbox(center,center);
  background-image: url("../img/background.JPG");
  background-size: cover;
  background-position: center;
  .black-filter {
    @include flexbox(center,center);
    @include size(100%,100vh);
    background-color: rgba(0, 12, 53, 0.6);
    h1 {
      color:$textColor;
      font-size: 3.5rem;
      text-align: center;
    }
  }
}

#about {
  @include setSection();
  @include flexbox(center,center);
  flex-direction: column;
  div {
    @include flexbox(space-between,center);
    padding: 1rem;
  }
  img {
    height: 120px;
    border-radius: 100px;
    margin-right: 30px;
  }
  p {
    color: $textColor;
    max-width: 500px;
    text-align: justify;
  }
}

#work, #education {
  @include setSection();
  @include flexbox(center,center,column);
  a {
    color: white;
  }
}

#projects {
  @include setSection();
  @include flexbox(center,center);
  flex-direction: column;
}

#contact {
  @include setSection();
  @include flexbox(center,center,column);
  color: $textColor;
  ul {
    list-style: none;
  }
  a {
    @include flexbox(null,center);
    color: $textColor;
    text-decoration: none;
  }
  li {
    @include flexbox(center,center);
  }
  i {
    font-size: 1.5rem;
    margin: 1rem;
  }
}

a.active::after {
  transform: translateX(0%);
}

footer {
  @include flexbox(center,center);
  background-color: $navColor;
  color: $textColor;
  font-size: 0.8rem;
}

/* ============
    Components
   ============ */

.experience-card {
  background-color: $cardColor;
  color: $textColor;
  margin: 1rem 2.5rem;
  padding: 1rem;
  max-width: 700px;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  .title {
    @include flexbox(null,center);
    margin-bottom: 1rem;
  }
  .year-city {
    @include flexbox(space-between,center);
    padding-bottom: 0.5rem;
    font-style: italic;
    font-size: 0.8rem;
    color: gray;
  }
  img {
    height: 2rem;
    margin-right: 1rem;
  }
  ul {
    padding-left: 1rem;
  }
  li {
    margin: 0.75rem 0;
  }
  p {
    line-height: 1.3rem;
  }
}

.projects-pages {
  @include flexbox(space-around);
  @include size(100%,100%);
  flex-wrap: wrap;
}

.project-card {
  @include size(300px,300px);
  color: $textColor;
  margin: 1rem;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.5);
  overflow:hidden;
  .thumb {
    height: 200px;
    img {
      @include size(auto,200px);
    }
  }
  .project-content {
    background-color: $cardColor;
    height: 300px;
    padding: 1rem;
    position: relative;
    transition:.4s .15s cubic-bezier(.17,.67,.5,1.03);
    a {
      color: $textColor;
    }
    p {
      line-height: 1.3rem;
      &:last-child {
        position: absolute;
        bottom: 0.8rem;
        right: 1rem;;
      }
    }
    h2 {
      margin: 1rem 0;
      text-align: center;
    }
    h3 {
      font-size: 0.8rem;
      font-weight: 200;
      margin: 1.5rem 0 0.5rem;
    }
    .hidden-content {
      opacity: 0;
      transition:.5s .25s cubic-bezier(.17,.67,.5,1.03);
    }
    .technology {
      @include flexbox(flex-start);
      flex-wrap: wrap;
      h5 {
        background-color: white;
        color: $cardColor;
        margin: 0.2rem;
        padding: 0.2rem 0.3rem;
        border-radius: 0.2rem;
      }
    }
  }
  &:hover .project-content {
    transform:translateY(-200px);
    p {
      opacity: 1;
    }
    .hidden-content {
      opacity: 1;
    }
  }
}

/* ==================
    Responsive Style
   ================== */

@media screen and (max-width:768px) {
  .about-container {
    flex-direction: column;
    p {
      margin: 2rem 2rem 0;
    }
  }
  #projects {
    @include flexbox(space-around,center,column);
  }
}


